.link {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 2rem;
  outline: none;
  border: 2px solid var(--red);
  background-color: var(--grey-light);
  color: var(--blue-dark);
  text-align: center;
  text-decoration: underline;
  transform: translatey(-100%);
  transition: all 0.3s;
  font-size: 1.125rem;
}

.link:focus {
  outline: none;
  transform: translatey(0);
}
