.wrapper {
  padding: 3rem var(--x-padding);
}

.content {
  max-width: var(--max-width);
  margin: auto;
  color: var(--grey);
  display: grid;
  justify-items: center;
  gap: 3rem;
}

.left {
  width: 100%;
  max-width: 400px;
}

.title,
.containerTitle {
  color: var(--blue);
}

.title,
.text {
  text-align: center;
}

.title {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.right {
  max-width: 400px;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    'num title'
    'text text';
  align-items: stretch;
  margin-bottom: 2rem;
  row-gap: 1rem;
  align-items: center;
}

.containerNumber {
  grid-area: num;
  padding: 0.5rem 1.5rem;
  background-color: var(--red);
  color: white;
  font-weight: 700;
  border-radius: 2rem;
}

.containerTitle {
  grid-area: title;
  font-size: 1rem;
  padding-left: 1rem;
  position: relative;
  z-index: 1;
}

.container p {
  grid-area: text;
}

@media screen and (min-width: 768px) {
  .content {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }

  .left {
    max-width: 600px;
  }

  .title {
    font-size: 2.5rem;
  }

  .text {
    max-width: 400px;
  }

  .right {
    max-width: 100%;
  }

  .left {
    justify-self: start;
  }

  .right {
    justify-self: end;
  }

  .title,
  .text {
    text-align: left;
  }

  .container {
    grid-template-areas:
      'num title'
      '. text';
    gap: 0.5rem 2rem;
  }

  .containerTitle {
    background: transparent;
    padding: 0;
  }
}
