.wrapper {
  padding: 0rem var(--x-padding) 3rem;
}

.title {
  text-align: center;
  color: var(--blue);
  font-size: 2rem;
}

.slider {
  width: 100%;
  max-width: 600px;
}

.testimonial {
  background-color: var(--grey-light);
  padding: 4rem 1.5rem 2rem;
  transition: all 0.3s;
  max-width: 450px;
  position: relative;
  margin: 5rem auto 3rem;
}

.active {
  opacity: 1;
}

.next,
.prev {
  opacity: 0.3;
}

.testimonial img {
  width: 80px;
  height: auto;
  position: absolute;
  top: 0;
  right: calc(50% - 40px);
  transform: translateY(-50%);
}

.testimonial h3 {
  text-align: center;
  color: var(--blue);
  margin-bottom: 1rem;
}

.testimonial p {
  color: var(--grey);
  text-align: center;
}

.controls {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

:global(.swiper-pagination-bullet) {
  height: 1rem !important;
  width: 1rem !important;
  border: 2px solid var(--red) !important;
  border-radius: 50% !important;
  background-color: transparent !important;
  opacity: 1 !important;
  margin: 0 0.5rem !important;
}

:global(.swiper-pagination-bullet-active) {
  background-color: var(--red) !important;
}

.controlBtn {
  height: 1rem;
  width: 1rem;
  border: 2px solid var(--red);
  border-radius: 50%;
}

.controlBtn:not(:last-child) {
  margin-right: 1rem;
}

.activeBtn {
  background-color: var(--red);
}

.ctaBtn {
  background-color: var(--red);
  color: white;
  font-weight: 700;
  padding: 0.75rem 2rem;
  border-radius: 2rem;
  box-shadow: var(--cta-shadow);
  display: block;
  margin: auto;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ctaBtn:hover {
  opacity: 0.5;
}

@media screen and (min-width: 800px) {
  .wrapper {
    padding: 0 0 3rem;
  }

  .slider {
    margin-bottom: 3rem;
  }
}
